{% extends 'base.html' %}

{% block title %}Görevlendirme Sil - Görev Takip Sistemi{% endblock %}

{% block content %}
<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Görevlendirme Sil</h1>
</div>

<div class="row">
    <div class="col-md-6">
        <div class="card">
            <div class="card-body">
                <div class="alert alert-warning">
                    <h5>Uyarı!</h5>
                    <p>Bu görevlendirme kaydını silmek istediğinizden emin misiniz?</p>
                </div>
                
                <dl class="row">
                    <dt class="col-sm-4">Personel:</dt>
                    <dd class="col-sm-8">{{ gorevlendirme.sofor.adsoyad }}</dd>
                    
                    <dt class="col-sm-4">Başlangıç:</dt>
                    <dd class="col-sm-8">{{ gorevlendirme.bstarih|date:"d.m.Y H:i" }}</dd>
                    
                    <dt class="col-sm-4">Bitiş:</dt>
                    <dd class="col-sm-8">{{ gorevlendirme.bttarih|date:"d.m.Y H:i" }}</dd>
                    
                    <dt class="col-sm-4">Araç:</dt>
                    <dd class="col-sm-8">{{ gorevlendirme.arac.plaka|default:"-" }}</dd>
                    
                    <dt class="col-sm-4">Görev:</dt>
                    <dd class="col-sm-8">{{ gorevlendirme.gorev }}</dd>
                </dl>
                
                <form method="post">
                    {% csrf_token %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end">
                        <a href="{% url 'gorevlendirme_listesi' %}" class="btn btn-secondary">İptal</a>
                        <button type="submit" class="btn btn-danger">Sil</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}
